# Database configuration
POSTGRES_DB=blood_samples_db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432

# Application configuration
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/blood_samples_db
SPRING_DATASOURCE_USERNAME=user
SPRING_DATASOURCE_PASSWORD=password
APP_PORT=8080
